SQL_PASSWORD=Replace_with_a_strong_local_password_123!
JWT_KEY=Replace_with_a_random_key_of_at_least_32_bytes
API_PORT=5080
WEB_PORT=4200
BACKOFFICE_PORT=4300
BACKOFFICE_ENABLED=false
BACKOFFICE_ADMIN_USER_ID=00000000-0000-0000-0000-000000000000
BACKOFFICE_ALLOW_PURGE=false
BACKOFFICE_ALLOW_CLEANUP=false
